page-home {
  .q-btn {
    width: 49%;
    height: 75%;
  }
  #q-1 {
    float: left;
    background-color: #123134;
  }

  #q-2 {
    float: right;
  }

  .counter {
    text-align: center;
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
  }

}